[push]
	default = upstream
[user]
	name = Gus Gollings
        email = gus.gollings@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/gusgollings/.gitignore
[github]
	user = gusgollings
