[push]
	default = simple
[user]
	name = Gus Gollings
	email = gus.gollings@envato.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = always
[core]
  ui = auto
[github]
	user = gusgollings
[hub]
  protocol = https
#[credential]
#helper = /opt/boxen/bin/boxen-git-credential
[buildkite]
	apikey = 189a25f8cd71bdc53127b43fbd85923b89d46ad8
	account = envato
	organization = envato
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
