[push]
	default = simple
[user]
	name = Gus Gollings
	email = gus.gollings@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
 ui = auto
[core]
	excludesfile = /opt/boxen/config/git/gitignore
[github]
	user = gusgollings

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
